body {
background-color: lightgoldenrodyellow;
}
h1 {
    color: coral;
    text-decoration: underline;
    text-shadow: yellow;
}
h3 {
    color: brown;
}
img {
    align-items: center;
    border-radius: 8px;
    height: 500px;
    width: 400px;
}
a:hover {
    color: hotpink;
  }
  video {
    width: 50%;
    height: auto;
  }
  table{
    width: 100%;
    background-color: lightcyan;
}
form{ 
    align-self: start;
    background-color: lightpink;
    border-radius: 5px;
    color: black;
    width: 300px;
    padding: 10px;
    margin: auto;
}
input[type] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: crimson;
    background-color: lemonchiffon;
  }
  