body {
background-color: lightgoldenrodyellow;
}
h1 {
    color: coral;
    text-decoration: underline;
    text-shadow: yellow;
}
h3 {
    color: brown;
}
img {
    align-items: center;
    border-radius: 8px;
    height: 500px;
    width: 400px;
}
a:hover {
    color: hotpink;
  }
  video {
    width: 50%;
    height: auto;
  }
  table{
    width: 100%;
    background-color: lightcyan;
}